.login-page-bg {
  background-image: url('https://res.cloudinary.com/dssfsnedz/image/upload/v1709799790/netfilx_1loginpage-bg_ixnq0g.png');
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movies-icon {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 80px;
  height: 40px;
}
.login-card {
  background-color: #0c0b10;
  opacity: 0.8;
  padding: 30px 60px;
  font-size: 12px;
  border-radius: 5px;
}
.login-page-bg input {
  background-color: #333333;
  border: none;
  padding: 5px 0px;
  margin-top: 5px;
  width: 300px;
  max-width: 300px;
}
#user-name {
  margin-bottom: 10px;
}
.login-form {
  color: #fff;
}
.login-form button {
  background-color: #e50914;
  color: #fff;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}
.login-form h2 {
  text-align: center;
}
